.Button_384_3239 {
	width: 107px;
	height: 48px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.different_I384_3239_3239_61589 {
	width: 107px;
	height: 48px;
	border-radius: 6px;
	gap: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 0px;
	box-sizing: border-box;
	border: 1.5px solid rgba(75, 178, 249, 1);
}

.text_I384_3239_3239_61589_2504_64001 {
	width: 59px;
	height: 48px;
	border-radius: 0px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Button_Element_Label_I384_3239_3239_61589_2504_64002 {
	width: 59px;
	height: 27px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.text_I384_3239_3239_61589_2504_64002_1087_15453 {
	width: 59px;
	height: 27px;
	background-color: null;
	opacity: 1;
	padding: 0;
	box-sizing: content-box;
	color: rgb(75, 178, 249);
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 600;
}

