.Button {
	width: 107px;
	height: 48px;
	border-radius: 0px;
}

TODO make css about -Button-Element-Base-Default_I352-3209-3239-61541 with parent Button_352-3209
TODO make css about text_I352-3209-3239-61541-2504-64001 with parent -Button-Element-Base-Default_I352-3209-3239-61541
TODO make css about -Button-Element-Label_I352-3209-3239-61541-2504-64002 with parent text_I352-3209-3239-61541-2504-64001
TODO make css about text_I352-3209-3239-61541-2504-64002-1087-15453 with parent -Button-Element-Label_I352-3209-3239-61541-2504-64002
