.Badge {
	width: 80px;
	height: 24px;
	border-radius: 0px;
}

TODO make css about -badge-master_I352-3838-2762-68903 with parent Badge_352-3838
TODO make css about check_I352-3838-2762-68903-2753-70310 with parent -badge-master_I352-3838-2762-68903
TODO make css about Frame_I352-3838-2762-68903-2753-70310-5013-17291 with parent check_I352-3838-2762-68903-2753-70310
TODO make css about Vector_I352-3838-2762-68903-2753-70310-5013-17292 with parent Frame_I352-3838-2762-68903-2753-70310-5013-17291
TODO make css about Badge_I352-3838-2762-68903-2753-70306 with parent -badge-master_I352-3838-2762-68903
