* { 
	outline: 1px solid red; 
}

.Dot_badge_923 {
	width: 8px;
	height: 8px;
	background-color: transparent;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.dot_407 {
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.10000000149011612),0px 4px 6px rgba(0, 0, 0, 0.10000000149011612);
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background-color: rgba(224, 45, 60, 1);
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: content-box;
}

