.Button {
	width: 96px;
	height: 32px;
	border-radius: 0px;
}

I made css about _Button / Element / Base Default with parent Button
I made css about text with parent _Button / Element / Base Default
I made css about _Button / Element / Label with parent text
I made css about text with parent _Button / Element / Label
I made css about icon right with parent _Button / Element / Base Default
I made css about arrow_forward with parent icon right
I made css about Frame with parent arrow_forward
I made css about Vector with parent Frame
