.Rectangle_2921_189_31478 {
	width: 272px;
	height: 253px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	box-sizing: border-box;
}

.Rectangle_2921_189_31477 {
	width: 272px;
	height: 253px;
	border-radius: 0px;
	background-color: rgb(217, 217, 217);
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: border-box;
}

