.Segmented_Controls_Icon_539_29317 {
	outline: 1px solid red;
	width: 144px;
	height: 40px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Segmented_Controls_Icon_539_29298 {
	outline: 1px solid red;
	width: 144px;
	height: 40px;
	border-radius: 8px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 4px;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 4px;
	box-sizing: border-box;
	border: 1px solid rgba(189, 198, 211, 1);
}

._Segmented_Controls_Style_Icon_Small_I539_29298_5253_140296 {
	outline: 1px solid red;
	width: 68px;
	height: 32px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Small_I539_29298_5253_140296_5220_132310 {
	outline: 1px solid red;
	width: 68px;
	height: 32px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Icon_I539_29298_5253_140296_5220_132310_5220_132238 {
	outline: 1px solid red;
	width: 68px;
	height: 32px;
	border-radius: 6px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 6px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 6px;
	box-sizing: border-box;
}

.favorite_I539_29298_5253_140296_5220_132310_5220_132184 {
	outline: 1px solid red;
	width: 20px;
	height: 20px;
	border-radius: 0px;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I539_29298_5253_140296_5220_132310_5220_132184_5013_19175 {
	outline: 1px solid red;
	width: 20px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I539_29298_5253_140296_5220_132310_5220_132184_5013_19176 {
	outline: 1px solid red;
	width: 16.916748046875px;
	height: 15.10400390625px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.916748046875px/2);
	top: calc(50% - 15.10400390625px/2);
	padding: 0;
	box-sizing: border-box;
}

._Segmented_Controls_Style_Icon_Small_I539_29298_5253_140306 {
	outline: 1px solid red;
	width: 68px;
	height: 32px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Small_I539_29298_5253_140306_5220_132310 {
	outline: 1px solid red;
	width: 68px;
	height: 32px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Icon_I539_29298_5253_140306_5220_132310_5220_132238 {
	outline: 1px solid red;
	width: 68px;
	height: 32px;
	border-radius: 6px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 6px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 6px;
	box-sizing: border-box;
}

.favorite_I539_29298_5253_140306_5220_132310_5220_132184 {
	outline: 1px solid red;
	width: 20px;
	height: 20px;
	border-radius: 0px;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I539_29298_5253_140306_5220_132310_5220_132184_5013_19175 {
	outline: 1px solid red;
	width: 20px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I539_29298_5253_140306_5220_132310_5220_132184_5013_19176 {
	outline: 1px solid red;
	width: 16.916748046875px;
	height: 15.10400390625px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.916748046875px/2);
	top: calc(50% - 15.10400390625px/2);
	padding: 0;
	box-sizing: border-box;
}

