* { 
	outline: 1px solid red; 
}

.Status_badge_670 {
	width: 20px;
	height: 20px;
	background-color: transparent;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.base_744 {
	box-shadow: , 0px 4px 4px rgba(0, 0, 0, 0.25);
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 1);
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.vector_823 {
	width: 17px;
	height: 17px;
	position: absolute;
	left: calc(50% - 17px/2);
	top: calc(50% - 17px/2);
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

