* { 
	outline: 1px solid red; 
}

.Status_badge_86 {
	width: 20px;
	height: 20px;
	background-color: transparent;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.base_243 {
	box-shadow: xpx ypx 3px rgba(NaN, NaN, NaN, a);
	width: 20px;
	height: 20px;
	border-radius: 20px;
	background-color: rgba(255, 255, 255, 1);
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.vector_326 {
	width: 17px;
	height: 17px;
	position: absolute;
	left: calc(50% - 17px/2);
	top: calc(50% - 17px/2);
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

