.Button_537_9558 {
	outline: 1px solid red;
	width: 107px;
	height: 48px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Label_Button_I537_9558_5748_152971 {
	outline: 1px solid red;
	width: 107px;
	height: 48px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Container_I537_9558_5748_152971_3239_61595 {
	outline: 1px solid red;
	width: 107px;
	height: 48px;
	border-radius: 6px;
	gap: 8px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 0px;
	box-sizing: border-box;
	border: 1.5px solid rgba(0, 99, 197, 1);
}

.text_I537_9558_5748_152971_3239_61595_2504_64001 {
	outline: 1px solid red;
	width: 59px;
	height: 48px;
	border-radius: 0px;
	gap: 10px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Label_I537_9558_5748_152971_3239_61595_2504_64002 {
	outline: 1px solid red;
	width: 59px;
	height: 27px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.text_I537_9558_5748_152971_3239_61595_2504_64002_1087_15453 {
	outline: 1px solid red;
	width: 59px;
	height: 27px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(0, 99, 197);
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 600;
}

