* { 
	outline: 1px solid red; 
}

.Button_365 {
	width: 139px;
	height: 48px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0;
	position: relative;
	scroll-behavior: auto;
	box-sizing: border-box;
	transition-duration: 0.15s;
	transition-timing-function: linear;
}

._Button___Element___Base_Default_738 {
	width: 139px;
	height: 48px;
	border-radius: 5px;
	background-color: rgba(75, 178, 249, 1);
	gap: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: 24px;
	padding-right: 24px;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.icon_left_203 {
	width: 24px;
	height: 24px;
	gap: 10px;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.favorite_404 {
	width: 24px;
	height: 24px;
	position: absolute;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.Frame_419 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.Vector_283 {
	width: 20.300048828125px;
	height: 18.125px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.text_63 {
	width: 59px;
	height: 48px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

._Button___Element___Label_648 {
	width: 59px;
	height: 27px;
	display: flex;
	flex-direction: row;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.text_563 {
	flex: none;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	color: rgba(17, 26, 34, 1);
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 27px;
	margin-top: 0;
	margin-bottom: 6px;
	font-weight: 600;
}

.icon_right_953 {
	width: 24px;
	height: 24px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.arrow_forward_992 {
	width: 24px;
	height: 24px;
	position: absolute;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.Frame_408 {
	width: 24px;
	height: 24px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.Vector_466 {
	width: 15.800048828125px;
	height: 15.38818359375px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

