.Nav_Slim_313_2922 {
	width: 80px;
	height: 1080px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Nav_Slim_313_2844 {
	width: 80px;
	height: 1080px;
	border-radius: 0px;
	box-shadow: 0px 0px 0px rgba(109, 112, 116, 0.05000000074505806),1px 0px 3px rgba(109, 112, 116, 0.03999999910593033),5px 0px 5px rgba(109, 112, 116, 0.03999999910593033),11px 0px 6px rgba(109, 112, 116, 0.019999999552965164),19px 0px 8px rgba(109, 112, 116, 0.009999999776482582),30px 0px 8px rgba(109, 112, 116, 0);
	background-color: rgb(245, 247, 249);
	opacity: 1;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Menu_I313_2844_5952_162010 {
	width: 32px;
	height: 64px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.menu_I313_2844_5952_162012 {
	width: 32px;
	height: 32px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I313_2844_5952_162012_5013_21241 {
	width: 32px;
	height: 32px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I313_2844_5952_162012_5013_21242 {
	width: 24.266666412353516px;
	height: 16.4666748046875px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 24.266666412353516px/2);
	top: calc(50% - 16.4666748046875px/2);
	padding: 0;
	box-sizing: border-box;
}

.Items_I313_2844_5952_161764 {
	width: 80px;
	height: 620px;
	border-radius: 0px;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 16px;
	box-sizing: border-box;
}

._Item_I313_2844_5952_161765 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	background-color: rgb(75, 178, 249);
	opacity: 0.11999999731779099;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.content_I313_2844_5952_161765_5963_167386 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.home_I313_2844_5952_161765_5963_167387 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I313_2844_5952_161765_5963_167387_5013_20208 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I313_2844_5952_161765_5963_167387_5013_20209 {
	width: 16.299999237060547px;
	height: 17.925048828125px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.299999237060547px/2);
	top: calc(50% - 17.925048828125px/2);
	padding: 0;
	box-sizing: border-box;
}

._Label_I313_2844_5952_161765_5963_167388 {
	width: 40px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Item_I313_2844_5952_161765_5963_167388_1915_42146 {
	width: 30px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(0, 99, 197);
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

._Indicator_I313_2844_5952_161765_5963_167389 {
	width: 4px;
	height: 72px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._menu_indicator_I313_2844_5952_161765_5963_167389_1915_40146 {
	width: 4px;
	height: 72px;
	border-radius: 4px;
	background-color: rgb(0, 99, 197);
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: border-box;
}

._Item_I313_2844_5952_161766 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.content_I313_2844_5952_161766_5963_167764 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.home_I313_2844_5952_161766_5963_167765 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I313_2844_5952_161766_5963_167765_5013_20208 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I313_2844_5952_161766_5963_167765_5013_20209 {
	width: 16.299999237060547px;
	height: 17.925048828125px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.299999237060547px/2);
	top: calc(50% - 17.925048828125px/2);
	padding: 0;
	box-sizing: border-box;
}

._Label_I313_2844_5952_161766_5963_167766 {
	width: 40px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Item_I313_2844_5952_161766_5963_167766_1915_42146 {
	width: 30px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

._Item_I313_2844_5952_161767 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.content_I313_2844_5952_161767_5963_167764 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.home_I313_2844_5952_161767_5963_167765 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I313_2844_5952_161767_5963_167765_5013_20208 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I313_2844_5952_161767_5963_167765_5013_20209 {
	width: 16.299999237060547px;
	height: 17.925048828125px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.299999237060547px/2);
	top: calc(50% - 17.925048828125px/2);
	padding: 0;
	box-sizing: border-box;
}

._Label_I313_2844_5952_161767_5963_167766 {
	width: 40px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Item_I313_2844_5952_161767_5963_167766_1915_42146 {
	width: 30px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

._Item_I313_2844_5952_161768 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.content_I313_2844_5952_161768_5963_167764 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.home_I313_2844_5952_161768_5963_167765 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I313_2844_5952_161768_5963_167765_5013_20208 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I313_2844_5952_161768_5963_167765_5013_20209 {
	width: 16.299999237060547px;
	height: 17.925048828125px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.299999237060547px/2);
	top: calc(50% - 17.925048828125px/2);
	padding: 0;
	box-sizing: border-box;
}

._Label_I313_2844_5952_161768_5963_167766 {
	width: 40px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Item_I313_2844_5952_161768_5963_167766_1915_42146 {
	width: 30px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

._Item_I313_2844_5952_161769 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.content_I313_2844_5952_161769_5963_167764 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.home_I313_2844_5952_161769_5963_167765 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I313_2844_5952_161769_5963_167765_5013_20208 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I313_2844_5952_161769_5963_167765_5013_20209 {
	width: 16.299999237060547px;
	height: 17.925048828125px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.299999237060547px/2);
	top: calc(50% - 17.925048828125px/2);
	padding: 0;
	box-sizing: border-box;
}

._Label_I313_2844_5952_161769_5963_167766 {
	width: 40px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Item_I313_2844_5952_161769_5963_167766_1915_42146 {
	width: 30px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

._Item_I313_2844_5952_161770 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.content_I313_2844_5952_161770_5963_167764 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.home_I313_2844_5952_161770_5963_167765 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I313_2844_5952_161770_5963_167765_5013_20208 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I313_2844_5952_161770_5963_167765_5013_20209 {
	width: 16.299999237060547px;
	height: 17.925048828125px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.299999237060547px/2);
	top: calc(50% - 17.925048828125px/2);
	padding: 0;
	box-sizing: border-box;
}

._Label_I313_2844_5952_161770_5963_167766 {
	width: 40px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Item_I313_2844_5952_161770_5963_167766_1915_42146 {
	width: 30px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

._Item_I313_2844_5952_161771 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.content_I313_2844_5952_161771_5963_167764 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.home_I313_2844_5952_161771_5963_167765 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I313_2844_5952_161771_5963_167765_5013_20208 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I313_2844_5952_161771_5963_167765_5013_20209 {
	width: 16.299999237060547px;
	height: 17.925048828125px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.299999237060547px/2);
	top: calc(50% - 17.925048828125px/2);
	padding: 0;
	box-sizing: border-box;
}

._Label_I313_2844_5952_161771_5963_167766 {
	width: 40px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Item_I313_2844_5952_161771_5963_167766_1915_42146 {
	width: 30px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

._Item_I313_2844_5952_161772 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.content_I313_2844_5952_161772_5963_167764 {
	width: 80px;
	height: 72px;
	border-radius: 6px;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.home_I313_2844_5952_161772_5963_167765 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I313_2844_5952_161772_5963_167765_5013_20208 {
	width: 24px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I313_2844_5952_161772_5963_167765_5013_20209 {
	width: 16.299999237060547px;
	height: 17.925048828125px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.299999237060547px/2);
	top: calc(50% - 17.925048828125px/2);
	padding: 0;
	box-sizing: border-box;
}

._Label_I313_2844_5952_161772_5963_167766 {
	width: 40px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Item_I313_2844_5952_161772_5963_167766_1915_42146 {
	width: 30px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

