.Component_4_61_28140 {
	width: 292.893798828125px;
	height: 410.69696044921875px;
	border-radius: 0px;
	box-shadow: 0px 4px 6px rgba(40, 43, 48, 0.10000000149011612),0px 10px 15px rgba(40, 43, 48, 0.10000000149011612);
	background-color: rgb(255, 255, 255);
	opacity: 1;
	gap: 0px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 4px;
	box-sizing: border-box;
	border: 1px solid rgba(217, 223, 230, 1);
}

.Frame_7_91_28760 {
	width: 260.893798828125px;
	height: 43px;
	border-radius: 0px;
	gap: 8px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 8px;
	padding-top: 8px;
	box-sizing: border-box;
}

.Settings_61_28233 {
	width: 71px;
	height: 27px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	top: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(40, 43, 48);
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 400;
}

.Frame_4_91_28645 {
	width: 260.893798828125px;
	height: 287.69696044921875px;
	border-radius: 0px;
	gap: 16px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Input_61_28057 {
	width: 260.893798828125px;
	height: 59.92425537109375px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Text_Input_I61_28057_4458_116618 {
	width: 260.893798828125px;
	height: 81px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Content_I61_28057_4458_116618_4454_224647 {
	width: 260.893798828125px;
	height: 81px;
	border-radius: 0px;
	background-color: transparent;
	gap: 6px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I61_28057_4458_116618_4454_224647_4454_219533 {
	width: 260.893798828125px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I61_28057_4458_116618_4454_224647_4454_219534 {
	width: 39px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(40, 43, 48);
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 400;
}

.Input_I61_28057_4458_116618_4454_224647_4454_219778 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Container_I61_28057_4458_116618_4454_224647_4454_219513 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Content_I61_28057_4458_116618_4454_224647_4454_221951 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 4px;
	gap: 6px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	box-sizing: border-box;
	border: 1.5px solid rgba(0, 99, 197, 1);
}

._Label_I61_28057_4458_116618_4454_224647_4454_221953 {
	width: 214.893798828125px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Content_I61_28057_4458_116618_4454_224647_4454_221953_4324_115039 {
	width: 81px;
	height: 21px;
	border-radius: 0px;
	gap: 1px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I61_28057_4458_116618_4454_224647_4454_221953_3859_88649 {
	width: 79px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(40, 43, 48);
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 400;
}

.Caret_I61_28057_4458_116618_4454_224647_4454_221953_4324_114662 {
	width: 1px;
	height: 14px;
	border-radius: 0px;
	background-color: rgb(40, 43, 48);
	opacity: 1;
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 0;
	box-sizing: border-box;
}

.cancel_I61_28057_4458_116618_4454_224647_4454_222651 {
	width: 16px;
	height: 16px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I61_28057_4458_116618_4454_224647_4454_222651_5013_17106 {
	width: 16px;
	height: 16px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I61_28057_4458_116618_4454_224647_4454_222651_5013_17107 {
	width: 13.5333251953125px;
	height: 13.5333251953125px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 13.5333251953125px/2);
	top: calc(50% - 13.5333251953125px/2);
	padding: 0;
	box-sizing: border-box;
}

.Support_text_I61_28057_4458_116618_4454_224647_4454_219536 {
	width: 260.893798828125px;
	height: 16px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Input_91_28646 {
	width: 260.893798828125px;
	height: 59.92425537109375px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Text_Input_I91_28646_4458_116618 {
	width: 260.893798828125px;
	height: 76px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Content_I91_28646_4458_116618_4454_224147 {
	width: 260.893798828125px;
	height: 76px;
	border-radius: 0px;
	background-color: transparent;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I91_28646_4458_116618_4454_224147_4454_219533 {
	width: 260.893798828125px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I91_28646_4458_116618_4454_224147_4454_219534 {
	width: 153px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(40, 43, 48);
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 400;
}

.Input_I91_28646_4458_116618_4454_224147_4454_219778 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Container_I91_28646_4458_116618_4454_224147_4454_219513 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Content_I91_28646_4458_116618_4454_224147_4454_221951 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 4px;
	gap: 6px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	box-sizing: border-box;
	border: 1px solid rgba(189, 198, 211, 1);
}

._Label_I91_28646_4458_116618_4454_224147_4454_221953 {
	width: 236.893798828125px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Content_I91_28646_4458_116618_4454_224147_4454_221953_4324_115039 {
	width: 79px;
	height: 21px;
	border-radius: 0px;
	gap: 1px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I91_28646_4458_116618_4454_224147_4454_221953_3859_88649 {
	width: 79px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 400;
}

.Support_text_I91_28646_4458_116618_4454_224147_4454_219536 {
	width: 260.893798828125px;
	height: 15px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Input_91_28679 {
	width: 260.893798828125px;
	height: 59.92425537109375px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Text_Input_I91_28679_4458_116618 {
	width: 260.893798828125px;
	height: 76.00003051757812px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Content_I91_28679_4458_116618_4454_224147 {
	width: 260.893798828125px;
	height: 76.00003051757812px;
	border-radius: 0px;
	background-color: transparent;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I91_28679_4458_116618_4454_224147_4454_219533 {
	width: 260.893798828125px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I91_28679_4458_116618_4454_224147_4454_219534 {
	width: 161px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(40, 43, 48);
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 400;
}

.Input_I91_28679_4458_116618_4454_224147_4454_219778 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Container_I91_28679_4458_116618_4454_224147_4454_219513 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Content_I91_28679_4458_116618_4454_224147_4454_221951 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 4px;
	gap: 6px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	box-sizing: border-box;
	border: 1px solid rgba(189, 198, 211, 1);
}

._Label_I91_28679_4458_116618_4454_224147_4454_221953 {
	width: 236.893798828125px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Content_I91_28679_4458_116618_4454_224147_4454_221953_4324_115039 {
	width: 79px;
	height: 21px;
	border-radius: 0px;
	gap: 1px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I91_28679_4458_116618_4454_224147_4454_221953_3859_88649 {
	width: 79px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 400;
}

.Support_text_I91_28679_4458_116618_4454_224147_4454_219536 {
	width: 260.893798828125px;
	height: 15.000030517578125px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Input_91_28712 {
	width: 260.893798828125px;
	height: 59.92425537109375px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Text_Input_I91_28712_4458_116618 {
	width: 260.893798828125px;
	height: 76px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Content_I91_28712_4458_116618_4454_224147 {
	width: 260.893798828125px;
	height: 76px;
	border-radius: 0px;
	background-color: transparent;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I91_28712_4458_116618_4454_224147_4454_219533 {
	width: 260.893798828125px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I91_28712_4458_116618_4454_224147_4454_219534 {
	width: 47px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(40, 43, 48);
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 400;
}

.Input_I91_28712_4458_116618_4454_224147_4454_219778 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Container_I91_28712_4458_116618_4454_224147_4454_219513 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Content_I91_28712_4458_116618_4454_224147_4454_221951 {
	width: 260.893798828125px;
	height: 32px;
	border-radius: 4px;
	gap: 6px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 6px;
	box-sizing: border-box;
	border: 1px solid rgba(189, 198, 211, 1);
}

._Label_I91_28712_4458_116618_4454_224147_4454_221953 {
	width: 236.893798828125px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Content_I91_28712_4458_116618_4454_224147_4454_221953_4324_115039 {
	width: 79px;
	height: 21px;
	border-radius: 0px;
	gap: 1px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Label_I91_28712_4458_116618_4454_224147_4454_221953_3859_88649 {
	width: 79px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: left;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 400;
}

.Support_text_I91_28712_4458_116618_4454_224147_4454_219536 {
	width: 260.893798828125px;
	height: 15px;
	border-radius: 0px;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_6_91_28759 {
	width: 260.893798828125px;
	height: 60px;
	border-radius: 0px;
	gap: 8px;
	position: inherit;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	padding-bottom: 8px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 20px;
	box-sizing: border-box;
}

.Frame_3_91_28644 {
	width: 137px;
	height: 32px;
	border-radius: 0px;
	gap: 8px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Button_61_28132 {
	width: 72px;
	height: 32px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Label_Button_I61_28132_5748_152971 {
	width: 72px;
	height: 32px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Container_I61_28132_5748_152971_3239_62039 {
	width: 72px;
	height: 32px;
	border-radius: 6px;
	gap: 6px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 0px;
	box-sizing: border-box;
	border: 1.5px solid rgba(88, 96, 106, 1);
}

.text_I61_28132_5748_152971_3239_62039_2504_64019 {
	width: 48px;
	height: 32px;
	border-radius: 0px;
	gap: 10px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Label_I61_28132_5748_152971_3239_62039_2504_64020 {
	width: 48px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.text_I61_28132_5748_152971_3239_62039_2504_64020_1087_15453 {
	width: 48px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

.Button_61_28007 {
	width: 57px;
	height: 32px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Label_Button_I61_28007_5748_152971 {
	width: 57px;
	height: 32px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Container_I61_28007_5748_152971_3239_61981 {
	width: 57px;
	height: 32px;
	border-radius: 6px;
	background-color: rgb(0, 99, 197);
	opacity: 1;
	gap: 6px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 0px;
	box-sizing: border-box;
}

.text_I61_28007_5748_152971_3239_61981_2504_64019 {
	width: 33px;
	height: 32px;
	border-radius: 0px;
	gap: 10px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Label_I61_28007_5748_152971_3239_61981_2504_64020 {
	width: 33px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.text_I61_28007_5748_152971_3239_61981_2504_64020_1087_15453 {
	width: 33px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(255, 255, 255);
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

