.Button {
	width: 107px;
	height: 48px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	display: flex;
	flex-direction: row;
}

._Button / Element / Base Default {
	width: 107px;
	height: 48px;
	border-radius: 6px;
	background-color: rgb(75, 178, 249);
	opacity: 1;
	gap: 8px;
	display: flex;
	flex-direction: row;
}

.text {
	width: 59px;
	height: 48px;
	border-radius: 0px;
	gap: 10px;
	display: flex;
	flex-direction: row;
}

._Button / Element / Label {
	width: 59px;
	height: 27px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	display: flex;
	flex-direction: row;
}

.text {
}

