.Button_370-3202 {
	width: 78px;
	height: 36px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.-Button-Element-Base-Default_I370-3202-3239-61955 {
	width: 78px;
	height: 36px;
	border-radius: 6px;
	gap: 6px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 0px;
	box-sizing: border-box;
}

.text_I370-3202-3239-61955-2504-64055 {
	width: 46px;
	height: 36px;
	border-radius: 0px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.-Button-Element-Label_I370-3202-3239-61955-2504-64056 {
	width: 46px;
	height: 21px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.text_I370-3202-3239-61955-2504-64056-1087-15453 {
}

