* { 
	outline: 1px solid red; 
}

.Button_40 {
	width: 122px;
	height: 32px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0;
	position: relative;
	scroll-behavior: auto;
	box-sizing: border-box;
	transition-duration: 0.15s;
	transition-timing-function: linear;
}

._Button___Element___Base_Default_868 {
	width: 122px;
	height: 32px;
	border-radius: 6px;
	background-color: rgba(236, 239, 242, 1);
	gap: 6px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-left: 12px;
	padding-right: 12px;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.icon_left_406 {
	width: 20px;
	height: 20px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.favorite_946 {
	width: 20px;
	height: 20px;
	position: absolute;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.Frame_753 {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.Vector_143 {
	width: 16.916748046875px;
	height: 15.10400390625px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.text_397 {
	width: 46px;
	height: 32px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

._Button___Element___Label_591 {
	width: 46px;
	height: 21px;
	display: flex;
	flex-direction: row;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.text_113 {
	flex: none;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	color: rgba(88, 96, 106, 1);
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 21px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
}

.icon_right_175 {
	width: 20px;
	height: 20px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.arrow_forward_730 {
	width: 20px;
	height: 20px;
	position: absolute;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.Frame_458 {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.Vector_619 {
	width: 13.166748046875px;
	height: 12.8232421875px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

