.Rectangle_1_316_10868 {
	width: 425px;
	height: 367px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	box-sizing: border-box;
}

.Rectangle_1_316_10867 {
	width: 425px;
	height: 367px;
	border-radius: 0px;
	background-color: rgb(217, 217, 217);
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: border-box;
}

