* { 
	outline: 1px solid red; 
}

.Notification_878 {
	width: 329px;
	height: 75px;
	gap: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	position: relative;
	scroll-behavior: auto;
	box-sizing: border-box;
}

._notification_big_931 {
	width: 329px;
	height: 75px;
	border-radius: 2px;
	background-color: rgba(164, 231, 203, 1);
	gap: 12px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-right: 16px;
	scroll-behavior: auto;
	box-sizing: content-box;
	border: 1px solid rgba(27, 196, 125, 1);
}

.border_206 {
	width: 4px;
	height: 75px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.border_72 {
	width: 4px;
	height: 75px;
	background-color: rgba(27, 196, 125, 1);
	position: absolute;
	left: 0px;
	top: 0px;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.icon_591 {
	width: 24px;
	height: 24px;
	background-color: transparent;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.Feedback_pending_no_675 {
	width: 24px;
	height: 24px;
	position: absolute;
	padding: 0;
	scroll-behavior: auto;
}

.v6_icon_932 {
	width: 24px;
	height: 24px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.icon_685 {
	flex: none;
	position: absolute;
	left: calc(50% - 18px/2);
	top: calc(50% - 18px/2);
	color: rgba(17, 26, 34, 1);
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	font-family: Font Awesome 6 Pro;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 18px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 900;
}

.content_70 {
	width: 225px;
	height: 47px;
	gap: 1px;
	display: flex;
	flex-direction: column;
	padding-bottom: 2px;
	padding-right: 10px;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.title_759 {
	flex: none;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	color: rgba(17, 26, 34, 1);
	text-align: left;
	vertical-align: top;
	font-size: 16px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 24px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 600;
}

.content_428 {
	flex: none;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	color: rgba(17, 26, 34, 1);
	text-align: left;
	vertical-align: top;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 20px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 400;
}

.action_icon_788 {
	width: 24px;
	height: 14px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	padding-left: 10px;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.times_597 {
	width: 14px;
	height: 14px;
	background-color: transparent;
	position: absolute;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.v6_icon_918 {
	width: 14px;
	height: 14px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	scroll-behavior: auto;
	box-sizing: border-box;
}

.icon_286 {
	flex: none;
	position: absolute;
	left: calc(50% - 14px/2);
	top: calc(50% - 16px/2);
	color: rgba(17, 26, 34, 1);
	text-align: center;
	vertical-align: middle;
	font-size: 16px;
	font-family: Font Awesome 6 Pro;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 16px;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 900;
}

