.Avatar_group_533_9486 {
	outline: 1px solid red;
	width: 284px;
	height: 60px;
	border-radius: 0px;
	gap: -8px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Avatar_I533_9486_2123_38440 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 0px;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.background_I533_9486_2123_38440_2123_33614 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: rgb(236, 239, 242);
	opacity: 1;
	position: absolute;
	left: calc(50% - 60px/2);
	top: calc(50% - 60px/2);
	padding: 0;
	box-sizing: content-box;
	border: 2px solid rgba(255, 255, 255, 1);
}

.Initials_I533_9486_2123_38440_2123_33615 {
	outline: 1px solid red;
	width: 37px;
	height: 22px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: calc(50% - 37px/2);
	top: calc(50% - 22px/2);
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 20px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: -0.01em;
	line-height: 1.100000023841858em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 400;
}

.image_I533_9486_2123_38440_2123_33616 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	opacity: 1;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Avatar_I533_9486_2123_37770 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 0px;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.background_I533_9486_2123_37770_2123_33614 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: rgb(236, 239, 242);
	opacity: 1;
	position: absolute;
	left: calc(50% - 60px/2);
	top: calc(50% - 60px/2);
	padding: 0;
	box-sizing: content-box;
	border: 2px solid rgba(255, 255, 255, 1);
}

.Initials_I533_9486_2123_37770_2123_33615 {
	outline: 1px solid red;
	width: 37px;
	height: 22px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: calc(50% - 37px/2);
	top: calc(50% - 22px/2);
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 20px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: -0.01em;
	line-height: 1.100000023841858em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 400;
}

.image_I533_9486_2123_37770_2123_33616 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	opacity: 1;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Avatar_I533_9486_2123_38434 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 0px;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.background_I533_9486_2123_38434_2123_33614 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: rgb(236, 239, 242);
	opacity: 1;
	position: absolute;
	left: calc(50% - 60px/2);
	top: calc(50% - 60px/2);
	padding: 0;
	box-sizing: content-box;
	border: 2px solid rgba(255, 255, 255, 1);
}

.Initials_I533_9486_2123_38434_2123_33615 {
	outline: 1px solid red;
	width: 37px;
	height: 22px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: calc(50% - 37px/2);
	top: calc(50% - 22px/2);
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 20px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: -0.01em;
	line-height: 1.100000023841858em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 400;
}

.image_I533_9486_2123_38434_2123_33616 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	opacity: 1;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Avatar_I533_9486_2123_33727 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 0px;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.background_I533_9486_2123_33727_2123_33614 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: rgb(236, 239, 242);
	opacity: 1;
	position: absolute;
	left: calc(50% - 60px/2);
	top: calc(50% - 60px/2);
	padding: 0;
	box-sizing: content-box;
	border: 2px solid rgba(255, 255, 255, 1);
}

.Initials_I533_9486_2123_33727_2123_33615 {
	outline: 1px solid red;
	width: 37px;
	height: 22px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: calc(50% - 37px/2);
	top: calc(50% - 22px/2);
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 20px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: -0.01em;
	line-height: 1.100000023841858em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 400;
}

.image_I533_9486_2123_33727_2123_33616 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 100px;
	opacity: 1;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Avatar_I533_9486_2123_39138 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 0px;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.background_I533_9486_2123_39138_2123_33614 {
	outline: 1px solid red;
	width: 60px;
	height: 60px;
	border-radius: 60px;
	background-color: rgb(236, 239, 242);
	opacity: 1;
	position: absolute;
	left: calc(50% - 60px/2);
	top: calc(50% - 60px/2);
	padding: 0;
	box-sizing: content-box;
	border: 2px solid rgba(255, 255, 255, 1);
}

.Initials_I533_9486_2123_39138_2123_33615 {
	outline: 1px solid red;
	width: 25px;
	height: 22px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: calc(50% - 25px/2);
	top: calc(50% - 22px/2);
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 20px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: -0.01em;
	line-height: 1.100000023841858em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 400;
}

