.Button_368-3935 {
	width: 107px;
	height: 48px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.-Button-Element-Base-Default_I368-3935-3239-61541 {
	width: 107px;
	height: 48px;
	border-radius: 6px;
	background-color: rgb(75, 178, 249);
	opacity: 1;
	gap: 8px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 0px;
	box-sizing: border-box;
}

.text_I368-3935-3239-61541-2504-64001 {
	width: 59px;
	height: 48px;
	border-radius: 0px;
	gap: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.-Button-Element-Label_I368-3935-3239-61541-2504-64002 {
	width: 59px;
	height: 27px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.text_I368-3935-3239-61541-2504-64002-1087-15453 {
}

