.Vector_474_9322 {
	width: 10.566650390625px;
	height: 7.56689453125px;
	border-radius: 0px;
	background-color: rgb(64, 70, 77);
	opacity: 1;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

