.Vector_I492_9084_2753_70325_2753_70310_5013_17292 {
	width: 10.566650390625px;
	height: 7.56689453125px;
	border-radius: 0px;
	background-color: rgb(64, 70, 77);
	opacity: 1;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

