.Dot_badge_533_9537 {
	outline: 1px solid red;
	width: 8px;
	height: 8px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	position: relative;
	box-sizing: border-box;
}

.dot_I533_9537_2556_67612 {
	outline: 1px solid red;
	width: 8px;
	height: 8px;
	border-radius: 8px;
	background-color: rgb(224, 45, 60);
	opacity: 1;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding: 0;
	box-sizing: content-box;
	box-shadow: 0px 2px 4px rgba(40, 43, 48, 0.10000000149011612),0px 4px 6px rgba(40, 43, 48, 0.10000000149011612);
}

