.Rectangle_1_532_9107 {
	outline: 1px solid red;
	width: 91px;
	height: 53px;
	border-radius: 0px;
	background-color: rgb(217, 217, 217);
	opacity: 1;
	position: relative;
	left: 0px;
	top: 0px;
	padding: 0;
	box-sizing: border-box;
}

