.Deletable_Tag_318_3032 {
	width: 137px;
	height: 32px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Deletable_Tag_318_3026 {
	width: 137px;
	height: 32px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Content_I318_3026_2608_65065 {
	width: 137px;
	height: 32px;
	border-radius: 24px;
	background-color: rgb(231, 235, 239);
	opacity: 1;
	gap: 8px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 6px;
	padding-left: 12px;
	padding-right: 8px;
	padding-top: 6px;
	box-sizing: border-box;
	border: 1px solid rgba(189, 198, 211, 1);
}

.Deletable_tag_I318_3026_2608_65065_2608_65053 {
	width: 89px;
	height: 21px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	top: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(88, 96, 106);
	text-align: center;
	vertical-align: top;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0px;
	line-height: 1.5em;
	margin-top: 0;
	margin-bottom: 6px;
	text-decoration: none;
	font-weight: 400;
}

.cancel_I318_3026_2608_65065_2608_65054 {
	width: 20px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I318_3026_2608_65065_2608_65054_5013_17103 {
	width: 20px;
	height: 20px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I318_3026_2608_65065_2608_65054_5013_17104 {
	width: 16.91668701171875px;
	height: 16.9166259765625px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 16.91668701171875px/2);
	top: calc(50% - 16.9166259765625px/2);
	padding: 0;
	box-sizing: border-box;
}

