.Vector_I478_11544_5748_152971_3239_61547_2504_63996_5013_19173 {
	width: 20.300048828125px;
	height: 18.125px;
	border-radius: 0px;
	background-color: rgb(255, 255, 255);
	opacity: 1;
	padding: 0;
	position: relative;
	box-sizing: border-box;
}

