.Badge_526_9345 {
	outline: 1px solid red;
	width: 80px;
	height: 24px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

._Badge_I526_9345_2753_70325 {
	outline: 1px solid red;
	width: 80px;
	height: 24px;
	border-radius: 30px;
	gap: 4px;
	position: inherit;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 2px;
	box-sizing: border-box;
	border: 1px solid rgba(88, 96, 106, 1);
}

.check_I526_9345_2753_70325_2753_70310 {
	outline: 1px solid red;
	width: 16px;
	height: 16px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	left: 0px;
	top: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Frame_I526_9345_2753_70325_2753_70310_5013_17291 {
	outline: 1px solid red;
	width: 16px;
	height: 16px;
	border-radius: 0px;
	background-color: transparent;
	gap: 0px;
	position: inherit;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0px;
	box-sizing: border-box;
}

.Vector_I526_9345_2753_70325_2753_70310_5013_17292 {
	outline: 1px solid red;
	width: 10.566650390625px;
	height: 7.566650390625px;
	border-radius: 0px;
	position: relative;
	display: flex;
	left: calc(50% - 10.566650390625px/2);
	top: calc(50% - 7.566650390625px/2);
	padding: 0;
	box-sizing: border-box;
}

.Badge_I526_9345_2753_70325_2753_70306 {
	outline: 1px solid red;
	width: 44px;
	height: 17px;
	background-color: null;
	opacity: 1;
	position: inherit;
	left: 0px;
	top: 0px;
	padding: 0;
	box-sizing: content-box;
	color: rgb(64, 70, 77);
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
	font-family: Inter;
	font-style: normal;
	letter-spacing: 0.01em;
	line-height: 1.2000000476837158em;
	margin-top: 0;
	margin-bottom: 0;
	text-decoration: none;
	font-weight: 600;
}

