.Badge {
	width: 80px;
	height: 24px;
	border-radius: 0px;
}

._badge_master {
	width: 80px;
	height: 24px;
	border-radius: 30px;
}

.check {
	width: 16px;
	height: 16px;
	border-radius: 0px;
}

.Frame {
	width: 16px;
	height: 16px;
	border-radius: 0px;
}

.Vector {
}

.Badge {
}

